body {
    width: 1000px;
    margin: 0 auto;
}

.head-utility-nav {
    display: none;
}

.gnav {
    display: none;
}

.product-item,
.locations-list .content-section-inner,
.product-chart-item {
    page-break-inside: avoid;
}

.page-top {
    display: none;
}

.footer-upper {
    display: none;
}

.footer-middle {
    display: none;
}

.footer-bottom {
    padding: 42px 10px 62px;
}